.button {
  height: 51px;
  background: var(--color-primery-blue);
  border-radius: 30px;
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  font-size: clamp(20px, 2vw, 24px);
  line-height: 135%;
  color: #ffffff;
}

.button_header {
  display: none;
}

.button_try_it_banner,
.button_try_it_hidden {
  width: clamp(340px, 80vw, 420px);
}

@media screen and (min-width: 768px) {
  .button {
    height: 7vw;
    border-radius: 39px;
    line-height: 150%;
  }

  .button_try_it_hidden {
    display: none;
  }

  .button_try_it_banner {
    width: 307px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    max-height: 83px;
    font-size: 24px;
  }

  .button_header {
    display: block;
    width: 20vw;
    max-width: 307px;
  }
}
